/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/04/2020 09:41
  	*/

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/Flaticon.eot");
	src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff2") format("woff2"),
		url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"),
		url("../fonts/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
	}
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-art:before {
	content: "\f100";
}
.flaticon-apps:before {
	content: "\f101";
}
.flaticon-address:before {
	content: "\f102";
}
.flaticon-alarm:before {
	content: "\f103";
}
.flaticon-speech-bubble:before {
	content: "\f104";
}
.flaticon-camera:before {
	content: "\f105";
}
.flaticon-loupe:before {
	content: "\f106";
}
.flaticon-frame:before {
	content: "\f107";
}
.flaticon-camera-1:before {
	content: "\f108";
}
.flaticon-clock:before {
	content: "\f109";
}
.flaticon-smartwatch:before {
	content: "\f10a";
}
.flaticon-smart-watch:before {
	content: "\f10b";
}
.flaticon-smart-watch-1:before {
	content: "\f10c";
}
.flaticon-smartwatch-1:before {
	content: "\f10d";
}
.flaticon-smartband:before {
	content: "\f10e";
}
.flaticon-smartwatch-2:before {
	content: "\f10f";
}
.flaticon-wathc:before {
	content: "\f110";
}
.flaticon-watch:before {
	content: "\f111";
}
.flaticon-wifi:before {
	content: "\f112";
}
.flaticon-heart:before {
	content: "\f113";
}
.flaticon-location:before {
	content: "\f114";
}
.flaticon-bluetooth:before {
	content: "\f115";
}
.flaticon-cloudy:before {
	content: "\f116";
}
.flaticon-sun:before {
	content: "\f117";
}
.flaticon-moon:before {
	content: "\f118";
}
.flaticon-video-call:before {
	content: "\f119";
}
.flaticon-guarantee:before {
	content: "\f11a";
}
.flaticon-delivery-truck:before {
	content: "\f11b";
}
.flaticon-save-money:before {
	content: "\f11c";
}
.flaticon-return:before {
	content: "\f11d";
}
.flaticon-support:before {
	content: "\f11e";
}
.flaticon-technical-support:before {
	content: "\f11f";
}
.flaticon-social-care:before {
	content: "\f120";
}
.flaticon-support-1:before {
	content: "\f121";
}
.flaticon-support-2:before {
	content: "\f122";
}
.flaticon-drone:before {
	content: "\f123";
}
.flaticon-drone-1:before {
	content: "\f124";
}
.flaticon-propeller:before {
	content: "\f125";
}
.flaticon-controller:before {
	content: "\f126";
}
.flaticon-battery:before {
	content: "\f127";
}
.flaticon-console:before {
	content: "\f128";
}
.flaticon-panoramic:before {
	content: "\f129";
}
.flaticon-selfie:before {
	content: "\f12a";
}
.flaticon-tower:before {
	content: "\f12b";
}
.flaticon-processor:before {
	content: "\f12c";
}
